    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bf-orange:#ef7b01;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
}
/* frist section start */

header{
    background-color:#f8f9fa;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 16px;
}

.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo img {
    width: 120px;
    margin-top: 10px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}

.nav-links li a:hover {
    color: var(--bf-orange);
}

.menu-toggle{
    display: none;
}

#menu-toggle {
      display: none;
}

/* frist section end */
/* second section start */

.hero_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 16px;
}

.hero_row{
    display: flex;
    padding: 80px 0px;
}

.hero_col{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hero_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero_content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0px;
    color: #5f687b;
}

.hero_content p{
    color:color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0px 30px;
}

.hero_content span a{
    color: var(--bs-white);
    background: var(--bf-orange);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.hero_content span a:hover{
    color: var(--bf-orange);
    background: var(--bs-white);
}

.hero_content_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content_img img{
    width: 400px;
    height: 400px;
}


.object{
  animation: MoveUpDown 5s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
  -webkit-animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: 50px;
  }
}

/* second section end */

/* three section start */

.content {
      max-width: 800px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding: 30px;
    }

    .heading {
      font-size: 2rem;
      font-weight: bold;
      color: #222;
    }

    .heading span {
      color:var(--bf-orange);
    }

    .description {
      font-size: 1rem;
      color: #444;
      line-height: 1.6;
    }



#service{
      background-color: var(--bs-gray-200);
      padding: 80px 0px;
  }

.service_container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

.service_row{
  display: flex;
  gap: 38px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 31%;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  transition: all 0.3s ease-in-out;
}

.card:hover .overlay {
  transform: scaleX(1);
}

/* .icon { */
  /* display: flex; */
  /* justify-content: center; */
/* } */

.icon img{
  width: 100px;
  height: 100px;
}

.card h3 {
  font-size: 21px;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
  color: #ccc;
}

.read_more {
  margin-top: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bf-orange);
  transform: scaleX(0);
  transform-origin: left-right;
  transition: transform 0.3s ease;
  z-index: 0;
}

.card_content {
  position: relative;
  z-index: 1;
}

.read_more a{
  text-decoration: none;
  color: var(--bs-cyan);
}


.read_more::after {
  content: "→";
  display: inline-block;
  transition: transform 0.3s;
  color: var(--bs-cyan);
}

.card:hover .read_more::after {
  transform: translateX(5px);
}

/* three section end */

/* four section start */

#sincehightlites{
  padding: 80px 0px;
}

.container_hightlites{
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

.hightlites_row{
  display: flex;
  flex-direction: row;
}

.image_box{
  width: 50%;
}
.image_box img{
  width: 400px;
  height: 400px;
}
.text_box{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.text_box a{
    color: var(--bs-white);
    background: var(--bf-orange);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}


/* four section end */

/* five section start */

#support{
  padding-bottom: 80px;
}

.deal_services_container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

.deal_row{
  display: flex;
  width: 100%;
  text-align: center;
}

.deal_box{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deal_image_box{
  width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.deal_image_box img{
  width: 95%;
  border-radius: 1%;
}

.deal_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
.deal_card {
  flex: 1 1 215px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}


.deal_card:hover {
    background-color:var(--bf-orange);
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}


/* five section end */
/* footer section start*/

.footer {
  background-color: #1a1a1a;
  padding: 40px 20px;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

.footer_box {
  flex: 1 1 220px;
  min-width: 200px;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00d563;
}

.logo span {
  color: #00d563;
}

.footer_box h3 {
  margin: 15px 0 10px;
  color: #ccc;
}

.footer_box ul {
  list-style: none;
}

.footer_box ul li {
  margin-bottom: 10px;
}

.footer_box ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer_box ul li a:hover {
  color: var(--bs-orange);
}

.social_icons{
  display: flex;
  justify-content: space-between;
}

.social_icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  margin: 10px 10px 0 0;
  font-size: 18px;
  transition: background 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social_icons a:hover {
  background-color:var(--bs-orange);
}

.footer_bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

.footer_bottom span {
  color: #fff;
  font-weight: bold;
}

.footer_bottom a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

.footer_bottom a:hover {
  color:var(--bs-orange);
}

.facebook-icon{
  color: #1877F2;
}

.linkedin-icon {
    color: #0077B5;
  }

    .twitter-icon {
    color: #1DA1F2; }

.instagram-icon {
  font-size: 25px;
      background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

/* footer section end */

@media (max-width:768px) {

/* frist section start */
  .menu-toggle{
    display: block;
} 


.nav-links{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 20px;
    display: none;
    top: 55px;
    right: 0px;
    background-color:#f4f4f4;
    width: 100%;
    flex-direction: column;
}

#menu-toggle:checked + label + .nav-links {
      display: block;
      z-index: 1;
    }
.nav-links li{
   display: flex;
   justify-content: center;
   padding: 12px;
}
.nav-links li a{
   color: black;
}
/* frist section end */

/* second section start */

.hero_row {
    display: flex;
    padding: 46px 0px;
}

.hero_col{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.hero_content h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0px;
    color: #5f687b;
}

.hero_content_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0px;
}


.hero_content_img img{
    width: 350px;
    height: 350px;
}

/* second section end */

/* three section start */

.card{
  position: relative;
  width: 45%;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  transition: all 0.3s ease-in-out;
}

/* three section end */

/* four section start */

.hightlites_row{
  display: flex;
  flex-direction: column;
}

.image_box{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.image_box img{
  width: 300px;
  height: 300px;
}

.text_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
/* four section end */

/* footer section start */
.footer_container {
    flex-direction: row;
    align-items: center;
  }
  .footer_box {
    text-align: center;
  }

/* footer section end */

}

@media (max-width:576px) {
/* frist section start */
  .menu-toggle{
    display: block;
} 


.nav-links{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 20px;
    display: none;
    top: 76px;
    right: 0px;
    background-color:#f4f4f4;
    width: 100%;
    flex-direction: column;
}

#menu-toggle:checked + label + .nav-links {
      display: block;
      z-index: 1;
    }
.nav-links li{
   display: flex;
   justify-content: center;
   padding: 12px;
}
.nav-links li a{
   color: black;
}

/* frist section end */


/* second section start */
.hero_row {
    display: flex;
    padding: 46px 0px;
}

.hero_col{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.hero_content h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0px;
    color: #5f687b;
}

.hero_content_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0px;
}


.hero_content_img img{
    width: 200px;
    height: 200px;
}

/* second section end */

/* three section start */

.card{
  position: relative;
  width: 100%;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  transition: all 0.3s ease-in-out;
}

/* three section end */

/* four section start */
.hightlites_row{
  display: flex;
  flex-direction: column;
}

.image_box{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.image_box img{
  width: 200px;
  height: 200px;
}

.text_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.deal_row{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 30px;
}

.deal_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deal_image_box{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
/* four section end */


}




